@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-monomakh: "Monomakh", sans-serif; 
  --breakpoint-3xl: 1920px;
  --color-secondary: #fce7c8;
  --color-primary: #c1d1a5;
  --color-action-button: #ffb343;
  --color-custom-white: #f0f0f0;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}