<section class="bg-transparent w-full py-2">
    <div class="flex flex-wrap w-full gap-5 justify-center lg:justify-between">
        <div class="m-auto font-extrabold w-auto text-center">
            <p class="max-w-2xl mb-2 font-[1000] text-black text-lg text-lg">TE INVITAMOS A DISFRUTAR DE:</p>
            <h1 class="font-monomakh max-w-2xl mb-1.5 text-3xl font-extrabold tracking-tight leading-none text-5xl text-5xl dark:text-black">LA SEMANA DEL</h1>
            <p class="font-monomakh max-w-2xl mb-6 font-extrabold text-red-500 lg:mb-8 text-lg text-6xl">CEREBRO</p>
            <p class="max-w-2xl mb-2 font-[1000] text-black md:text-lg xl:text-lg">DEL 17 AL 22 DE MARZO</p>
            <h2 class="font-monomakh max-w-2xl mb-1.5 text-3xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-5xl dark:text-black">¡VEN Y DIVIÉRTETE!</h1>
        </div>
        <div class="flex self-center lg:mt-0 lg:col-span-5">
            <img class="max-h-[16rem]" src="/assets/img/cerebrito.png" alt="Cerebrito">
        </div>                
    </div>
</section>